<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1512149177596-f817c7ef5d4c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1900&q=80);">
  <div class="container">
    <h1>Movies Watchlists</h1>
  </div>
</div>

<div class="container">

  <div class="row button">
    <%= link_to 'Create a New List', new_list_path, class: "btn btn-dark" %>
  </div>

  <div class="row">
    <% @lists.each do |list| %>
      <div col-9 col-md-3 col-lg-4>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <%= link_to list.name.capitalize, list_path(list) %>
        </div>
      </div>
    <% end %>

  </div>

</div>
