<h1>Movies Lists</h1>

<div>
  <% @lists.each do |list| %>
    <h2>
      <%= link_to list.name.capitalize, list_path(list) %>
    </h2>
  <% end %>
</div>

<%= link_to 'Create a New List', new_list_path, class: "btn btn-primary" %>
