.new-form {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  width: 70%;
  margin: 16px;
  margin-bottom: 8px;
  padding: 16px;
  align-items: center;
}

.new-form input {
  width: 95%;
  font-size: 16px;
}

.new-form label {
  font-size: 14px;
}

#list_photo {
  font-size: 12px;
}

// not working below - target differently
.submit-button {
  font-size: 8px;
}
